
.local-full-width {
  width: 100%;
}

td {
  padding-right: 8px;
}

table {
  width: 100%;
}

.mat-row:hover .mat-cell {
  border-color: currentColor;
}

.file-row-is-clicked {
  font-weight: bold;
}

.header-card {
  background-color: beige;
}

/*::ng-deep .mat-form-field-flex > .mat-form-field-infix {
  padding: 0.4em 0px !important;
}

::ng-deep .mat-form-field-label-wrapper {
  top: -1.5em;
}

::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  transform: translateY(-1.1em) scale(.75);
  width: 133.33333%;
}
::ng-deep.mat-datepicker-content .mat-calendar {
  width: unset !important;
  height: unset !important;
}
*/

.mat-form-field {
  width: 400px;
}
.filter-form {
  min-width: 150px;
  max-width: 400px;
  width: 100%;
}


/* excel syling */

.mat-button.mat-excel,
.mat-stroked-button.mat-excel {
  color: #155724;
}

.mat-button.mat-excel:hover,
.mat-stroked-button.mat-excel:hover {
  background-color: #f0fff3;
}

.mat-raised-button.mat-excel,
.mat-flat-button.mat-excel,
.mat-fab.mat-excel,
.mat-mini-fab.mat-excel {
  color: #f0fff3;
  background-color: #155724;
}

.mat-icon-button.mat-excel {
  color: #155724;
}


/* search syling */

.mat-button.mat-search,
.mat-stroked-button.mat-search {
  color: #ffd740;
}

.mat-button.mat-search:hover,
.mat-stroked-button.mat-search:hover {
  background-color: #020303;
}

.mat-raised-button.mat-search,
.mat-flat-button.mat-search,
.mat-fab.mat-search,
.mat-mini-fab.mat-search {
  color: #000000;
  background-color: #ffd740;
}

.mat-icon-button.mat-search {
  color: #ffd740;
}

.custom-btn-search{
   width:200px;
   margin-right:10px;
}
.custom-btn-intable {
 
  margin-right: 10px;
}
